
.change_password_fonts{
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 16px;
    text-align: right;
}


#change_password .form-group{
margin-right: 0px !important;
    margin-left: 0px !important;
}

#change_password_value:hover{
	background-color: #E83916;
    color: white;
}

#clear_form:hover{
	background-color: #E83916;
    color: white;
}

